{% extends "base.html" %}

{% block content %}

<!-- Adds file-eye icon to view hookup guide as a single page -->
{% if "single_page.md" %}
<a href="/SparkFun_DataLogger/single_page" title="View Guide as Single-Page" class="md-content__button md-icon">
    {% include ".icons/material/file-eye-outline.svg" %}
    :material-file-eye-24-outline:
    <!-- .icons/fontawesome/solid/scroll.svg -->
</a>
<a class="md-content__button md-icon" title="Print Page" href="#" onclick="window.print(); return false;">
    :octicons-print-24: Print Page
</a>

{% endif %}


{{ super() }}
{% endblock content %}