/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

:root {
  --ifm-color-primary: #e14141;
  --ifm-color-primary-dark: #dd2828;
  --ifm-color-primary-darker: #d52222;
  --ifm-color-primary-darkest: #af1c1c;
  --ifm-color-primary-light: #e55a5a;
  --ifm-color-primary-lighter: #e76767;
  --ifm-color-primary-lightest: #ed8c8c;
}

[data-theme='dark'] {
  --ifm-color-primary: #3e72ea;
  --ifm-color-primary-dark: #235ee7;
  --ifm-color-primary-darker: #1956e3;
  --ifm-color-primary-darkest: #1447bb;
  --ifm-color-primary-light: #5986ed;
  --ifm-color-primary-lighter: #668fee;
  --ifm-color-primary-lightest: #8eadf3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*
- Original - KDB
[data-theme='dark'] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/

html[data-theme='dark'] footer {
  background-color: black;
}

/* from the docusaurus demo site */
/* .theme-announcement-bar {
  font-size: 20px;



  --site-announcement-bar-stripe-color1: #f6d1d1;
  --site-announcement-bar-stripe-color2: #ffe9d1;

  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: bold;
} */
.theme-announcement-bar {
  font-size: 20px;
  font-weight: bold;
} 
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}


.header-sparkfun-link::before {
  content: '';
  width: 21px;
  height: 32px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 17.182693 4.836 C 17.632236 6.773457 16.200329 7.04291 16.200329 7.04291 C 15.203364 7.222912 13.595619 6.21382 12.785865 5.206909 C 11.7889 3.965094 11.914902 2.988365 12.690484 2.121092 C 13.855802 0.804365 15.850805 1.313091 15.850805 1.313091 C 12.195733 -1.962906 8.389393 0.721819 8.389393 0.721819 C 4.998783 3.105818 5.971899 6.356365 9.031495 9.192366 C 11.7889 11.755638 9.586395 14.566183 6.808701 14.201092 C 4.904461 13.953093 4.125327 12.392 4.582695 11.433819 C 4.976716 10.614183 6.343494 10.110182 6.343494 10.110182 C 4.773479 9.458183 2.925479 10.169092 2.925479 10.169092 C 1.265411 10.808365 -0.103149 12.210182 0.006124 15.721455 L 0.006124 32 C 1.722073 29.838545 3.739138 27.640364 3.739138 27.640364 C 5.997887 25.160728 7.028665 23.485092 9.348274 23.681091 C 13.737273 23.958546 16.911118 21.966547 19.068783 18.770184 C 23.211121 12.62291 19.966446 5.754547 17.182693 4.836 Z'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-sparkfun-link:hover::before {
  background-color: #FF0000;
}